$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/*this is the variable-declaration section*/
$darkgreen:#175b68;
$lightgreen:#117f96;
$lightgrey:#def1f5;
$white:#fff;
$grey:#a5a5a5;
$divgrey:#999999;
$loginbg: #e3e3e3;
$lightwhite: #f3f3f4;
$login-h1: #808080;
$login-user: #808080;
$user-border: #ECECEC;
/*this is the media variable-declaration section*/
$max300:"(min-width:0) and (max-width:300px)";
$max678:"(min-width:301px) and (max-width:768px)";
$max800:"(min-width:769px) and (max-width:800px)";
$max1000:"(max-width:1000px) and (min-width:800px)";
$max799: "(max-width:799px) and (min-width:670px)";
$max669: "(max-width:669px) and (min-width:555px)";
$max554: "(max-width:554px) and (min-width:450px)";
$max449: "(max-width:449px) and (min-width:355px)";
$max354: "(max-width:354px)";

textarea::-webkit-input-placeholder {
color: $lightwhite !important;
}



/*this is the navbar section*/
.navbar-default{
  background-color:$darkgreen;
  margin-bottom: 0;
  // position: relative;
  .logo{
    // position: absolute;
    width: 65px;
    margin-top: -10px;
    @media #{$max300}{
      width: 30px;
    }
    @media #{$max678}{
      width: 40px;
    }

  }
.navbar-nav{
  li{
    a{
      color: $white;
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

}

.nav-logout{
display: flex;
padding-left: 60px;
i{
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  font-size: 20px;

}
}


}
}
.wizi-bg-section{
  background-image: url('../images/texure-01.png');
    background-size: cover;
    background-position: center;
  .wizi-bg-opacity{
    background-color: rgba(250, 250, 250, .5);
    .container{
      .question-heading-section{
        display: flex;
        margin-top: 5%;
        @media #{$max300}{
          display: block;
        }
        @media #{$max678}{
          display: block;
        }
        h1{
          text-transform: capitalize;
          color: $darkgreen;

          @media #{$max300}{
            font-size: 15px;
          }
          @media #{$max678}{
            font-size: 25px;
          }
           }
        button{
          background-color: $darkgreen;
          color: $white;
          height: 35px;
          padding: 0% 2%;
          border: 0;
          border-radius: 3px;
          margin-top: 25px;
          margin-left: 30px;
          @media #{$max300}{
            margin: 0 auto;
            margin-bottom: 20%;

          }
          @media #{$max678}{
            margin: 0 auto;
            margin-bottom: 15%;
          }


        }
      }
      textarea{
        width: 100%;
        background-color: $lightgreen;
        padding-bottom: 10%;
        border: 0;
        padding-left: 2%;
        padding-top: 1%;
        color: $white;
        margin-top: -25px;
        border-radius: 10px;

      }
      textarea:focus
      {
        outline: none;
      }
      h2{
        color: $divgrey;
        margin-bottom: 4%;
        margin-top: 4%;
        text-transform: capitalize;
        @media #{$max300}{
        font-size: 20px;
        }
        @media #{$max678}{
          font-size: 24px;
        }
      }
      h3{
        color: $grey;
        text-transform: capitalize;
        margin-left: 1%;
      }
      .option1-div{
        display: inline-block;
        width: 100%;
        background-color: $lightgrey;
        margin-bottom: 2%;
        padding-bottom: 15%;
        border-radius: 10px;
      }
      .select-answer-div{
        width: 100%;
        background-color: $lightgrey;
        border-radius: 10px;
        padding:2% 5%;
        margin-bottom: 4%;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: $divgrey;
          }
        }
      }
      button{
        background-color:$darkgreen;
        color: $white;
        padding: 0.5% 2.5%;
        border: 0;
        border-radius: 5px;
        margin-bottom: 8%;
      }
    }

  }
}
/*categories-secton*/
table {
    // font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 6%;
    margin-top: -25px;
    th {
        // border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        background-color: $lightgreen;
        color: $white;

        }
    tr{
      height: 50px;
      .category1{
        border-right: 1px solid white;
      }
      .category1-border{
        border-top-left-radius: 10px;
      }
      .category3-border{
        border-top-right-radius: 10px;
      }


    }
    tr:nth-child(odd) {
        background-color: $lightgrey;
    }
    tr:nth-child(even) {
        background-color: $white;;
    }
}
/*this is the log-in section*/

body
{
  background-color: #E3E3E3;
  .header
{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
  @media #{$max669}
  {
    height: 220px;
  }
  @media #{$max449}
  {
    height: 200px;
  }
  @media #{$max354}
  {
    height: 200px;
  }
  .circle-span
{
	background-color: white;
      width: 130px;
      height: 130px;
      border-radius: 100%;
      display: inline-block;
	text-align: center;
	line-height: 130px;
}
}
.main-content
{
	display: flex;
	justify-content: center;
	align-content: center;
  .form-div
{

	border-radius: 5px;
    border: 4px dotted #155869;
    background-color: $white;
	padding: 50px 70px 100px 70px;
	margin-bottom: 150px;
	width: 900px;
  @media #{$max1000}
  {
    width:700px;
  }
  @media #{$max799}
  {
    width:600px;
		padding-left: 50px;
		padding-right: 50px;
  }
  @media #{$max669}
  {
    width:500px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 70px;
		margin-bottom: 110px;
  }
  @media #{$max554}
  {
    width:400px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
		padding-bottom: 70px;
		margin-bottom: 90px;
  }
  @media #{$max449}
  {
    width:300px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
		padding-bottom: 70px;
		margin-bottom: 70px;
  }
    @media #{$max354}
    {
      width:250px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			padding-bottom: 50px;
			margin-bottom: 70px;
    }

  h1
{
	text-transform: capitalize;
	color: $login-h1;
	font-family: 'myriadpro', sans-serif;
  @media #{$max554}
  {
    font-size: 25px;
  }
  @media #{$max449}
  {
    font-size: 23px;
  }
  @media #{$max354}
  {
    font-size: 23px;
  }
}
form
{
	margin: 30px 90px;
  @media #{$max799}
  {
    margin: 30px 60px;
  }
  @media #{$max669}
  {
    margin: 20px 40px;
  }
  @media #{$max554}
  {
    margin: 20px 30px;
  }
    @media #{$max449}
    {
      margin: 15px 20px;
    }
      @media #{$max354}
      {
        margin: 10px;
      }
  input
{
	text-transform: uppercase;
	padding: 7px 20px;
	border-radius: 5px;
	border: 3px solid $user-border;
	margin-bottom: 20px;
	margin-left: 10px;
    width: 100%;
    @media #{$max554}
    {
      font-size: 12px;
    }
    @media #{$max449}
    {
      font-size: 11px;
    }
      @media #{$max354}
      {
        font-size: 10px;
      }
}
  .input-text
{
	display: flex;
  .user-icon-span
{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid $user-border;
	display: inline-block;
	background-color: white;
	text-align: center;
	line-height: 40px;
	font-size: 35px;
  .user-icon
{

	color: $login-user;
}

}
}
.input-password
{
	display: flex;
  .lock-icon-span
{
	background-color: #ECECEC;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #ECECEC;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 35px;
  .lock-icon
{
	color: $white;
}
}
}
.login-button
{
	background-color: #155869;
	border-radius: 5px;
	color: $white;
	text-transform: capitalize;
	border: none;
	padding: 3px 20px;
  @media #{$max354}
  {
    padding: 2px 10px;
  }
}
.forget-link
{
	color: #7C7C7C;
	text-transform: capitalize;
	margin-left: 10px;
  @media #{$max354}
  {
    font-size: 11px;
  }
}
}
}
}
}
